<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.mapper.PermissionMapper">

    <select id="getPermissionsByUserName" resultType="java.lang.String" parameterType="String">
        select permission from a_permission a inner join a_role_permission b
            on a.id = b.permission_id inner join a_user_role c
            on c.role_id = b.role_id inner join a_user_information d
            on c.user_id = d.id
            where d.username = #{username}
    </select>

</mapper>